@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

/* Global */
:root{
    --roboto: "roboto";
    --yellow: #FFAE00;
    --orange: #FF7800;
    --dark: #252525;
}
*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: var(--roboto);
}
h1{
    font-family: "Shrikhand", serif;
    font-size: 30px;
    font-weight: 400;
}
h2{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
}
.btn{
    width: fit-content;
    display: block;
    align-self: center;
    border: solid 1px linear-gradient(var(--orange), var(--yellow));
    border-radius: 50px;
    box-shadow: 0px 5px 10px var(--orange);
    background: linear-gradient(var(--orange), var(--yellow));
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;   
}
.btn:hover{
    background:linear-gradient(var(--yellow), var(--orange));
    border: none;
}

/* Home page */
/* Loader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--yellow);
    animation: load 5s forwards;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 1;
}
@keyframes load {
    0%{   display: flex;  
    }
    100%{
        display: none
    }    
}
.loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(0deg, white 50%, var(--orange) 100%);
    animation: spin 5s infinite;
}
.inner-circle {
    width: 90%;
    height: 90%;
    background-color: var(--yellow);
    border-radius: 50%;
}
@keyframes spin {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}

 /* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header > a:nth-child(2){
    color: black;
    text-decoration: none;
}
header .left-arrow{
    visibility: hidden;
}
header nav{
    display: none;
}
/* Section 1 FIND */
#find{
    background-color: var(--yellow);
    text-align: center;
    padding: 20px 3px;
}
#find p{
    font-size: 15px;
    font-weight: 300;
}
#find form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 5px;
}
#find #location{
    border: solid 1px var(--yellow);
    border-radius: 50px;
    box-shadow: 0px 5px 10px var(--orange);
    background-color: transparent;
    outline: none;
    font-size: 15px;
    padding: 5px;
    &::placeholder{
        color: black;
    }
}

/* Section 2 HOW */
#how{
    text-align: left;
    padding: 30px 3px;
}
#how p{
    padding: 16px;
    box-shadow: 0px 4px 10px 0px lightgray;
    position: relative;
}
#how div{
    padding: 20px 15px;
}
#how p.one:before{
    content: "1";
    background: var(--orange);
    color: white;
    border-radius: 50px;
    padding: 1px 5px;
    position: absolute;
    left: -8px;
}
/* p:nth-child(1)::before A REFAIRE */
#how p.two:before{
    content: "2";
    background: var(--orange);
    color: white;
    border-radius: 50px;
    padding: 1px 5px;
    position: absolute;
    left: -8px;
}
#how p.three:before{
    content: "3";
    background: var(--orange);
    color: white;
    border-radius: 50px;
    padding: 1px 5px;
    position: absolute;
    left: -8px;
}
/* Section 3 CHOOSE */
#choose{
    background-color: var(--yellow);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
#choose > div{
    display: flex;
    flex-direction: column;
}
#choose article{
    margin: 15px;
    background-color: white;
    border-radius: 20px;
    position: relative;
}
#choose article img{
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 20px 20px 0 0;
}
.new:before{
    content: "New!";
    background-color: var(--orange);
    font-family: "Shrikhand", serif;;
    color: white;
    padding: 0 10px;
    font-size: 16px;
    position: absolute;
    rotate: -45deg;
    top: 15px;
    left: -6px;
}
#choose a{
    color: black;
    text-decoration: none;
} 
#choose h3{
    font-size: 18px;
    font-weight: 700;
}
#choose{
    font-size: 15px;
    font-weight: 300;
}
#choose hr{
    border-color: var(--orange);
    object-fit: cover;
    margin: 8px;
}
.infos{
    padding: 10px;
}
.thumbsContainer {
    cursor: pointer;
    caret-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.thumbsContainer input {
    display: none;
}
#choose > div > article > div > form > label > img.checked,
#choose > div > article > div > form > label > img.unchecked{
    width: 20px;
    height: 20px;
}
.checked {
    display: none;
}
.thumbsContainer input:checked ~ .checked {
    display: inline;
}
.thumbsContainer input:checked ~ .unchecked {
    display: none;
}
#choose > div > div{
    display: flex;
    justify-content: center;
}

/* Footer */
footer{
    background-color: var(--dark);
    color: white;
    font-weight: 300;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
footer h2{
    font-family: "Shrikhand", serif;
    font-size: 24px;
    font-weight: 400;
}
footer ul{
    list-style: none;
    font-size: 15px;
    padding: 5px;
    line-height: 25px;
}
footer a{
    text-decoration: none;
    color: white;
    &:hover{
        color: var(--orange);
    }
}

/* Responsive Tablet*/
@media screen and (min-width:768px){
    #find > form{
    justify-self: center;
    width: 50%;
    }
    #choose > div{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #choose article{
        flex: 1 0 30%;
    }
    #choose > div:nth-child(3){
        display: flex;
        justify-content: center;
    }
    footer{
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    }
    footer ul{
        display: flex;
        gap: 15px;
    }
}

/* Desktop */
@media screen and (min-width:1025px){
#burger{
    display: none;
}
body > header > a:nth-child(1){
    display: none;
}
header{
    justify-content: center;

}
header nav{
    display: flex;
}
header ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}
header a{
    text-decoration: none;
    font-family: var(--roboto);
    font-weight: 300;
    color: black;
}
#how,
h3{
    max-width: 900px;
    margin: auto;
}
#choose div{
    max-width: 900px;
    margin: auto;
}
#choose article {
    flex: 1 0 35%;
}
}

/* Professionnal page 1 */
/* header */
#professional header .left-arrow{
    visibility: visible;
    color: black;
}
/* Global */
hr{
    border: 1px solid var(--orange);
    margin-top: 10px;
    margin-bottom: 30px;
}
#professional main{
    max-width: 900px;
    justify-self: center;
}
/* Article 1 presentation */
#presentation{
    img{
    width: 100%;
}
    div.infos{
        text-align: center;
    }
    div.infos > h2{
        border-bottom: 1px solid var(--orange);
    } 
    .unchecked,
    .checked{
        width: 20px;
        height: 20px;
    }
    form{
        margin-top: 10px;
        padding: 10px;
    }
    div:nth-child(4){
        padding: 10px;
    }
    div:nth-child(4) p{
        font-size: 15px;
        font-weight: 300;
        padding-bottom: 20px;
    }
}
#map{
    padding: 10px;
}
#map > iframe{
    width: 100%
}
#contact{
    padding: 10px;

    div:nth-child(2) {
            padding: 20px
        }
    #links > a:nth-child(1){
        padding: 20px;
    }
    #links{
        display: flex;
        flex-direction: column;
        gap:30px;
        padding-bottom: 30px;         
        }

    a{
        color: black;
        text-decoration: none;
        font-size: 15px;
        font-weight: 300;
        cursor: pointer;
    }
    div>a>i{
        color: var(--yellow);
    }
    h3{
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 30px;
    }
    #social{
        font-size: 22px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #social a i{
        color: black
    }
    #social > a > i{
        font-size: 25px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    input,
    textarea{
        padding: 10px;
        border: 1px solid var(--orange);
    }
    #checkbox{
        display: flex;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #checkbox p{
        font-size: 13px;
        font-weight: 400;
    }
    }
    /* Responsive Tablet */
    @media screen and (min-width:768px){
        #presentation > div.infos{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        #presentation div.infos > h2 {
            border: none;
        }
        #presentation > div.infos > form > label{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        #professional h2{
            text-align: center;
        }
        #contact #links{
            flex-direction: row;
            justify-content: space-evenly;
        }
        #contact #links > a:nth-child(1) {
            padding: 0;
        }
        #contact h3{
            text-align: center;
        }
    }
    /* Responsive page pro Desktop */
    @media screen and (min-width:1025px){
        #professional header a{
            display: block;
        }
        #professional header{
            display: flex;
    justify-content: space-between;
        }
        }
    

